form {
    position: relative;
    width: 285px;
    margin: 0 auto;
    padding: 20px;

}

button[type="submit"] {
    position: absolute;
    top: 50%;
    transform: translateY(-42%);
    padding: 4px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.iconSearch {
    height: 22px;
    width: 22px;
}

input {
    min-width: 285px;
    padding: 8px 20px 8px 34px;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #b7babc;

}

input:hover,
input:focus,
input:active {
    box-shadow: 1px 1px 10px #dce0e3;

}