header {
    background-color: #032541;
    display: flex;
    padding: 10px;
    justify-content: space-around;

}

.link {
    color: rgb(243, 237, 237);
    font-size: 26px;
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 20px;
    justify-content: right;
}

.nav a:hover {

    font-weight: 600;
}

.active {
    color: #21b9d6;
    text-decoration: underline;
}